.filter {
  border-bottom: 1px solid #e5e5e5;
  .container {
    padding: 0;
  }
  &-menu {
    display: flex;
    padding: 32px 0 13px 0;
    list-style: none;
    &-item {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #626262;
    }
    &-item + &-item {
      margin-left: 40px;
    }
    &-item:first-child {
      color: #327430;
    }
  }
}

@media screen and (max-width: 992px) {
    .filter {
      padding: 0 8px;
    }
}

@media screen and (max-width: 769px) {
  .filter {
    display: none;
  }
}
