.footer {
  padding: 67px 0 53px 0;
  background-color: #262626;

  .container {
    padding: 0;
  }

  hr {
    color: #fff;
    margin: 34px 0 39px 0;
  }

  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #ffffff;
    margin: 0;
  }
}

@media screen and (max-width: 992px) {
  .footer {
    padding: 67px 8px 53px 8px;
  }
}


@media screen and (max-width: 992px) {
  footer {
    padding: 67px 8px 53px 8px;
  }
}