footer {
  padding: 66px 0 53px 0;
  background-color: #262626;

  .container {
    padding: 0;
  }

  hr {
    color: #fff;
    margin: 34px 0 39px 0;
  }

  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #ffffff;
    margin: 0;
  }

}
