.header {
  padding: 16px 0 16px 0;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);

  &-logo {
    padding: 0;
    margin-top: 10px;
  }

  &-btn:last-child {
    margin-left: 16px;
  }
  &-btn:hover {
    background-color: #262626;
    color: #fff;
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    background-color: transparent;
    width: 80px;
    height: 40px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #1d1d1d;
  }
}

@media screen and (max-width: 992px) {
  .header {
    padding: 16px 8px 16px 8px;
  }
}

@media screen and (max-width: 769px) {
  .header {
    &-btn {
      width: 72px;
    }
  }
}