.main {
  padding: 56px 0 43px 0;
  .container {
    padding: 0;
  }
  &-wrapper {
    // justify-content: space-between;
    width: 100%;
    margin-left: -3px;
    gap: 16px;
  }
  &-heading {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #1d1d1d;
    margin-bottom: 32px;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
    width: 470px;
    height: 161px;
    border: 1px solid rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    padding: 0;
    cursor: pointer;

    &__description {
      padding: 16px;
    }
    &__heading {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 4px;
      color: #1d1d1d;

      text-overflow: ellipsis;
      width: 245px;
      white-space: nowrap;
      overflow: hidden;
    }
    &__structure {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 21px;
      margin-bottom: 58px;
      color: #626262;
      opacity: 0;
    }

    &__price {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 21px;
      color: #1d1d1d;
    }
  }
  &-item:hover {
    background-color: #fafafa;
    background-color: #fafafa;

    .main-item__structure {
      opacity: 1;
    }
  }
  hr {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .main {
    padding: 56px 8px 43px 8px;

    &-wrapper {
      align-items: center;
      justify-content: center;
    }
    &-heading {
      text-align: center;
    }
  }
}

@media screen and (max-width: 769px) {
  .main {
    &-item {
      height: 102px;
      margin: 0;
      border: none;
      text-align: left;
      border-bottom: 1px solid rgba(117, 117, 117, 0.2);
      &__description {
        padding: 0;
      }

      &__heading {
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 24px;
        width: 173px;
      }

      &__structure {
        font-size: 13px;
        line-height: 21px;
        margin-bottom: 16px;
        opacity: 1;
      }
    }
    img {
      border-radius: 2px;
      width: 102px;
      height: 102px;
    }
    .container {
      text-align: center;
    }

    &-wrapper {
      flex-direction: column;
    }

    &-heading {
      font-size: 22px;
      line-height: 34px;
      text-align: center;
      margin-top: 56px;
      margin-bottom: 12px;
    }

    hr {
      display: block;
      width: 50px;
      margin: 0 auto;
      margin-bottom: 43px;
    }
  }
}
