.intro {
  background-image: url("./../assets/pushkin-photo/intro-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 364px;
  //   position: relative;
  display: flex;
  align-items: center;

  .container {
    padding: 0;
    position: relative;
  }

  &-title {
    // max-width: 418px;
    max-width: 386px;
    height: 204px;
    background: #ffffff;
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    padding: 38px 32px 38px 38px;
  }
  &-heading {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 54px;
    color: #1d1d1d;
  }
  &-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-category {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #626262;
  }
  &-distance-time {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    width: 97px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #262626;
    border-radius: 16px;

    color: #ffffff;
  }
}

@media screen and (max-width: 992px) {
  .intro {
    &-title {
      margin: 0 0 0 8px;
    }
  }
}

@media screen and (max-width: 769px) {
  .intro {
    background-image: url("./../assets/pushkin-photo/mobile-intro-photo.png");

    .container {
      padding: 0 8px;
    }
    &-title {
      max-width: unset;
      position: absolute;
      top: 40px;
      left: 8px;
      right: 8px;
    }
  }
}
